<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script type="text/javascript" src="/static/pvlinks/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/pvlinks/js/Main.js"></script>
    <script type="text/javascript" src="/static/pvlinks/js/PvGraph.js"></script>
    <script type="text/javascript" src="/static/pvlinks/js/PvController.js"></script>
    <script type="text/javascript" src="/static/pvlinks/js/PvModel.js"></script>
</head>
<body>
</body>
</html>
