<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="/static/pvlinks/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/pvlinks/js/PvMain.js"></script>
    <script type="text/javascript" src="/static/pvlinks/js/PvView.js"></script>
    <script type="text/javascript" src="/static/pvlinks/js/PvController.js"></script>
    <script type="text/javascript" src="/static/pvlinks/js/PvConnect.js"></script>
    <script type="text/javascript" src="/static/pvlinks/js/PvModel.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/pvlinks/css/pv.css" >
</head>
<body>
    <div id="pvlist">
        <input type="text" class="search" />
        <ul class="list"></ul>
    </div>
    <div id="pvlist2">
        <input type="text" class="search" />
        <ul class="list"></ul>
    </div>
    <div id="connected_ioc">
        <input type="text" class="search" />
        <ul class="list"></ul>
    </div>
</body>
</html>
