.list {
    font-family:sans-serif;
    font-size: 14px;
    padding: 0px;
}

li {
    border: solid 2px lightblue;
    padding: 0px 10px;
    margin: -2px 10px;
    list-style-type: none;
}

li h3{
    margin: 10px;
}

li.selected{
    background-color: lightblue;
}

#pvlist ul li{
    width: 300px;
}

#ioclist ul li{
    width: 120px;
}
#connected_ioc ul li{
    width: 120px;
}

#connected_ioc{
    right: 20px;
    position: absolute;
    top: 10px;
}

.search{
    border: solid lightblue;
    margin: 0px 10px;
}