.list {
    font-family:sans-serif;
    font-size: 14px;
    padding: 0px;
}

div div ul li {
    font-family:sans-serif;
    padding: 10px;
    list-style: none;
    margin-left: -40px;
}

#pvinfo ul li {
    font-family:sans-serif;
    padding: 10px 30px;
    list-style: none;
    margin-left: -40px;
}

#pvinfo {
#pvinfo {
    position: absolute;
}

/*li h3{
    margin: 10px;
}

li.selected{
    background-color: lightblue;
}

#pvlist ul li{
    width: 300px;
}

#pvlist2 ul li{
    width: 300px;
}

#ioclist ul li{
    width: 150px;
}
#connected_ioc ul li{
    width: 120px;
}*/

li.selected{
    background-color: lightgreen;
}

#pvlist2{
    right: 200px;
    position: absolute;
    top: 10px;
}

#connected_ioc{
    right: 20px;
    position: absolute;
    top: 10px;
}
/*
.fuzzy-search{
    border: solid lightblue;
    margin: 0px 10px;
}*/

.inline{
    display: inline-table;
    margin-right: 10px;
    background: #F2F1EF;
    border-radius: 5px;
}

.hidden{
    display:none;
}

/*input[type=button] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 14px;
    font-family:sans-serif;
}*/

input {
    border-radius: 5px;
    outline: none;
    margin: 10px;
    width: 80%;
}

svg{
    position: absolute;
    top: 20px;
    left: 355px;
    width: 50%;
    border: solid 2px lightblue;
    height: 93%;
}
