.list {
    font-family:sans-serif;
    font-size: 14px;
    padding: 0px;
}

li {
    border: solid 2px lightblue;
    padding: 0px 10px;
    margin: 10px;
    list-style-type: none;
}

li h3{
    margin: 10px;
}

.search{
    border: solid lightblue;
    margin: 0px 10px;
}